[submodule "themes/hugo-theme-tailwindcss-starter"]
	path = themes/hugo-theme-tailwindcss-starter
	url = https://github.com/K3tan/hugo-theme-tailwindcss-starter.git
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/K3tan/hugo-xmin.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/K3tan/LoveIt.git
[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/K3tan/hugo-primer.git
