/* Separate fontawesome css file instead of cluttering same file */

.fa-facebook {
    color: #3b5998;
}

.fa-github {
    color: #333;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #e1306c;
}

.fa-envelope {
    color: #505264;
}

.fa-rss {
    color: #f26522;
}

.fa-linkedin {
    color: #0077b5;
}



